/*LESS variables*/
.box-sizing {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.shadow {
  text-shadow: 7.5px 7.5px rgba(40, 40, 40, 0.2);
}
/*Global rules*/
body {
  font-size: 100%;
  color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 7em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2em;
}
a {
  color: #ea3f3f;
}
a:hover {
  color: #b23d3d;
}
/*Typography*/
.heroContainer h1 {
  color: #fafafa;
  position: absolute;
  text-shadow: 7.5px 7.5px rgba(40, 40, 40, 0.2);
}
.aboutModule h1 {
  font-weight: 700;
  font-size: 36px;
  padding: 20px 0px 20px 15px;
  border-bottom: 3px solid rgba(40, 40, 40, 0.2);
  text-shadow: 5px 5px rgba(40, 40, 40, 0.2);
}
.aboutModule ul li {
  font-size: 21px;
  line-height: 2em;
}
.aboutModule ul li em {
  font-weight: bold;
  font-size: 24px;
  padding-right: 15px;
}
.aboutModule ul {
  padding: 20px 0px 20px 15px;
}
.aboutText p {
  font-size: 21px;
  font-weight: normal;
  line-height: 2em;
}
/*Container divs*/
.heroContainer {
  background-color: #ea3f3f;
  height: 100%;
  width: 100%;
  float: left;
  border-bottom: 7.5px solid rgba(40, 40, 40, 0.2);
}
.heroText {
  height: 500px;
  width: 80%;
  position: relative;
  top: 10%;
  margin: auto;
  line-height: 7.5rem;
  z-index: 5;
}
.aboutContainer {
  margin: 0px auto 0;
  z-index: 200;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  background-color: #454242;
  float: left;
  border-top: 7.5px solid rgba(40, 40, 40, 0.2);
}
.moduleWrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.aboutModule {
  margin-bottom: 50px;
  height: 200px;
  width: 30%;
  float: left;
  border: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.aboutText {
  width: 40%;
  height: 400px;
  overflow: hidden;
  background-color: rgba(40, 40, 40, 0.2);
  float: left;
  position: relative;
  border-radius: 3%;
  border: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
