/*LESS variables*/
@mainRed: #EA3F3F;
@mainGrey: #454242;
@mainWhite: #fafafa;
@heroShadow: rgba(69,66,66,0.35);
@greyShadow: rgba(40,40,40,0.2);
@Montserrat: 'Montserrat', sans-serif;
@ContainerShadows: 7.5px solid;


body {
	font-size: 100%;
}

h1{
	font-size: 5em;
	font-weight:700;
	font-family:@Montserrat;
	line-height:1.2em;
}


.shadow{
	text-shadow:7.5px 7.5px @greyShadow;
}

/*Global rules*/

a{
	color:@mainRed;
}

a:hover{
	color:rgb(178,61,61);
}

body{
	color:@mainWhite;
	font-family:@Montserrat;

}

/*Typography*/
.heroContainer h1{
	font-size:6rem;
	font-weight:700;
	color:@mainWhite;
	position:absolute;
	.shadow;
}

.aboutModule h1{
	font-weight:700;
	font-size:36px;
	padding:20px 0px 20px 15px;
	border-bottom:3px solid @greyShadow;
	text-shadow:5px 5px @greyShadow;

}

.aboutModule ul li{
	font-size:21px;
	line-height:2em;
}

.aboutModule ul li em{
	font-weight:bold;
	font-size:24px;
	padding-right:15px;
}

.aboutModule ul{
	padding:20px 0px 20px 15px;
}

.aboutText p{
	font-size:21px;
	font-weight:normal;
	line-height:2em;
}

/*Container divs*/
.heroContainer{
	background-color:@mainRed;
	height:100%; 
	width:100%;
	float:left;
	border-bottom:@ContainerShadows @greyShadow;
}


.heroText{
	height:500px;
	width:80%;
	position:relative;
	top:10%;
	margin:auto;
	line-height:7.5rem;
	z-index:5;
}

.aboutContainer{
	height:100%;
	width:100%;
	background-color: @mainGrey;
	float:left;
	border-top:@ContainerShadows @greyShadow;

}


.moduleWrapper{
	margin-left:10%;
}

.aboutModule {
	height:200px;
	width:250px;
	margin-top:5%;
	float:left;
}

#hours{
	margin-right:5%;
}

.aboutText{
	min-height:400px;
	width:550px;
	padding:50px;
	background-color:@greyShadow;
	float:left;
	position:relative;
	margin-top:5%;
	margin-left:5%;
	border-radius:3%;


}




