/*LESS variables*/
@mainRed: #EA3F3F;
@mainGrey: #454242;
@mainWhite: #fafafa;
@heroShadow: rgba(69,66,66,0.35);
@greyShadow: rgba(40,40,40,0.35);
@Montserrat: 'Montserrat', sans-serif;
@ContainerShadows: 7.5px solid;

.moduleDimensions{
	height:200px;
	width:250px;
	margin-left:10%;
	margin-top:5%;
	color:@mainWhite;
}

.moduleHeader{
	font-family:@Montserrat;
	font-weight:700;
	font-size:36px;
	padding:20px 0px 20px 15px;
	border-bottom:3px solid @greyShadow;
}



.shadow{
	text-shadow:7.5px 7.5px @heroShadow;
}

/*Global rules*/

a{
	color:@mainRed;
}

a:hover{
	color:rgb(178,61,61);
}

/*Typography*/
.heroContainer h1{
	font-size:6rem;
	font-weight:700;
	font-family:@Montserrat;
	color:@mainWhite;

	position:relative;
	.shadow
}

.aboutModule h1{
	.moduleHeader;
}

.aboutModule ul li{
	font-family:@Montserrat;
	font-size:21px;
	line-height:2em;
}

.aboutModule ul li em{
	font-weight:bold;
	font-size:24px;
	padding-right:15px;
}

.aboutModule ul{
	padding:20px 0px 20px 15px;
}

/*Container divs*/
.heroContainer{
	background-color:@mainRed;
	height:100%; 
	width:100%;
	float:left;
	border-bottom:@ContainerShadows @heroShadow;
}


.heroText{
	height:500px;
	width:80%;
	position:relative;
	top:20%;
	margin:auto;
	line-height:7.5rem;
	z-index:5;
}

.aboutContainer{
	height:100%;
	width:100%;
	background-color: @mainGrey;
	float:left;
	border-top:@ContainerShadows @greyShadow;

}

.aboutModule {
	.moduleDimensions;

}

.aboutText{
	height:500px;
	width:400px;
	background-color:@greyShadow;
	position:relative;

}




