@mainRed: #EA3F3F;
@mainGrey: #454242;
@mainWhite: #fafafa;
@heroShadow: rgba(69,66,66,0.35);
@mainFont: 'Montserrat', sans-serif;



.shadow{
	text-shadow:7.5px 7.5px @heroShadow;
}

.heroContainer{
	background-color:@mainRed;
	height:100%; 
	width:100%;
	float:left;
}

.heroContainer h1{
	font-size:6rem;
	font-weight:700;
	font-family:@mainFont;
	color:@mainWhite;
	position:relative;

	.shadow
}

.heroText{
	height:80%;
	width:80%;
	position:relative;
	top:20%;
	margin:auto;
	line-height:7.5rem;
	z-index:5;
}

.aboutContainer{
	height:100%;
	width:100%;
	background-color: @mainGrey;
	float:left;

}
